#navbar,
#bottom,
#top,
#primary,
#title {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}

@media (max-width: 768px) {
  #navbar {
    display: none;
  }
}
@media (min-width: 768px) {
  #navbar2 {
    display: none;
  }
}
@media (max-width: 768px) {
  #card-decks {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
}
@media (min-width: 768px) {
  #card-decks {
    margin-top: 3rem;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .cardio {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cardio {
    width: 19rem;
  }
}

.cardio {
  border: 3px solid chartreuse !important;
  border-radius: 5px !important;
}

.bottom {
  border-bottom: 8px double chartreuse !important;
}

#contact-form {
  margin-right: 35%;
}

body {
  background: linear-gradient(0deg, rgb(2, 2, 2), 90%, rgb(47, 85, 121)) !important;
}

.neon {
  background-color: rgb(109, 218, 0) !important;
}
.neon:hover {
  background-color: rgb(100, 177, 24) !important;
}

.lazy:hover {

  box-shadow: inset 0 -3em 3em rgb(73, 91, 114),
                    0 0  0 2px chartreuse,
                    0.3em 0.3em 1em rgb(73, 91, 114);
}

.card-body {
  background: radial-gradient(rgb(42, 75, 105), rgb(2, 2, 2)) !important;
}

@keyframes glowing {
  0% {
    background-color:transparent;
    box-shadow: 0 0 5px transparent;
  }
  50% {
    background-color: rgb(56, 112, 0);
    box-shadow: 0 0 20px rgb(56, 112, 0);
  }
  100% {
    background-color: transparent;
    box-shadow: 0 0 5px transparent;
  }
}
#burglars:focus {
  animation: glowing 2500ms ease-out;
}
#burglars {
  border: 2.5px solid chartreuse !important;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: none;
  background-color: transparent;
}

.mobileTextActive {
  font-size: 30px !important;
  color: rgb(109, 218, 0) !important;
}

.mobileText {
  font-size: 20px !important
}

.mobileText:hover {
  color: rgb(109, 218, 0) !important;
}
.navvie1 {
  margin-top: 3em;
  margin-right: 0;
  
}

.aboutText {
  margin-top: 3em;
}
