
/* 
#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  */
  
  /* .container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px; or 950px
  } */
  
  #navbar, #bottom, #top, #primary, #title{
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
  }
  
  /* #profileImg {
    margin-top: -1.5rem;
    max-width: 500px;
    min-width: 250px;
  } */
  
  
  /* #main-body{
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
  } */
  
  @media (max-width: 768px) {
      #navbar {
        display: none;
       }
    }
  @media (min-width: 768px) {
      #navbar2 {
        display: none;
       }
    }
  @media (max-width: 768px) {
      #card-decks {
        margin-left:auto;
        margin-right: auto;
        margin-top: 3rem;
        
      }
    }
  @media (min-width: 768px) {
      #card-decks {
        margin-top: 3rem;
        padding: 0;
      }
    }
  @media (max-width: 768px) {
      #cardio {
        width: 100%;
      }
    }
  @media (min-width: 768px) {
      #cardio {
        width: 19rem;
      }
    }

  /* @media (max-width: 768px) {
      #profileImg {
    margin-top: -1.5rem;
    max-width: 300px;
    min-width: 15px;
       }
    } */